src/main/mule/error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22243ed0-71dd-4207-adc1-c9f064d9c710" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="errorFlow" doc:id="404759ae-3cdc-4276-888c-da5d95acc7f6" >
		<http:listener doc:name="Listener" doc:id="9caf7527-e643-4019-be94-5109b96f11de" config-ref="HTTP_Listener_config" path="test"/>
		<set-variable value="apple" doc:name="Set Variable" doc:id="ebf1d8ee-79f9-4de2-987b-5e95f682376b" variableName="fruit"/>
		<flow-ref doc:name="Flow Reference" doc:id="2b88e7d6-0fda-4040-ba9a-4c035f33283b" name="errorFlow1"/>
		<ee:transform doc:name="Transform Message" doc:id="4cf1c960-22c1-4185-aa1b-90c0f730a7e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[
"Success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1fb4fcef-7df4-4dcb-a04f-37b43cf5d79b" message="#[payload]"/>
		<error-handler ref="globalerrorhandlerError_Handler" />
	</flow>
	<flow name="errorFlow1" doc:id="b72e7134-c917-49dc-9a3e-b2c3f8260337" >
		<try doc:name="Try" doc:id="7d3b49aa-5df2-48b0-84e8-0f114c73d901" >
			<http:request method="GET" doc:name="Request" doc:id="8b2fd6b7-3488-4e2b-963b-da2c16ccea4b" url="xyzjsj.com" />
		</try>
		<ee:transform doc:name="Transform Message" doc:id="c914ef32-c869-4d18-9551-0b76f666ac7f" >
			<ee:message >
				<ee:set-payload ><![CDATA["Private Flow"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
